<div class="w-screen h-screen absolute bg-black/[.7] top-0">
    <div class="flex justify-center items-center w-full h-full">
        <div class="bg-white p-5 rounded-lg">
            <span class="text-xl font-bold">Agregar libro</span>
            <form class="flex flex-col gap-2 my-2" [formGroup]="addBookForm" (ngSubmit)="submitForm()" action="#">
                <div>
                    <label for="title" class="block text-sm font-medium text-gray-900">Title</label>
                    <input type="text" formControlName="title" name="title" id="title"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Pinocho" required="">
                </div>
                <div>
                    <label for="publishedDate" class="mb-2 text-sm font-medium text-gray-900">Fecha de publicacion</label>
                    <input type="date" formControlName="publishedDate" name="publishedDate" id="publishedDate" placeholder="09-10-24"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required="" />
                </div>

                <div>
                    <label for="authorId" class="mb-2 text-sm font-medium text-gray-900">Autor</label>
                    <select type="select" formControlName="authorId" name="authorId" id="authorId" placeholder="Juan R"
                        class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    @for (author of authors; track $index) {
                    <option [value]="author.id">
                        {{author.firstName}} {{author.lastName}}
                    </option>
                    }
                    </select>
                </div>
                <button type="submit"
                    class="w-full text-white bg-sky-900 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Agregar
                </button>
                <button (click)="handleClose()" type="button"
                    class="w-full text-white bg-red-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                    Cerrar
                </button>
            </form>
        </div>
    </div>
</div>